body{
    margin: 0;
    font-family: Calibri;
    background: coral;
}
.content{
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.LogoText{
    font-size: 60px;
}
.Password,.Login{
    font-size: 40px;
    padding: 20px;
    color: black;
}
.form-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
input[type="text"], input[type="submit"] {
    width: 100px;
    height: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 20px;

}
input[type="submit"]{
    margin-top: 20px;
    width: 150px;
    height: 40px;
    background: #f1f0f0;
    border-radius: 10px;
    border-color: rgba(59, 55, 49, 0.93);
}

